# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Streamlit specific
.streamlit/

# OS specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Input/Output data
input/
output/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
